

    #cadre
    {
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(226, 13, 13);
    margin-top: 10px;
    padding: 10px;
    border: 5px solid rgb(55, 54, 58);
    width: 984px;
    height: 480px;
    display: block;

    }
    .carte{
    display: inline-flex;
    border: 3px solid rgba(223, 218, 231, 0.856); 
    width: 240px; 
    height: 155px;
    }
    .image{
    width: 240px;
    height: 155px;
    }

    .caché{
    background-image: url('img/caché.jpg');
    }
    .selected{
    border: 4px solid rgb(110, 240, 70);
    }
    .disparet{
    opacity: 0;
    }
    h1{
    text-align: center;
    }

